html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
	font-size: 1.125rem;
	font: 1.125rem 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: $body-background-color;
	color: $body-text-color;
	line-height: 1.4;
	display: table-cell;
  vertical-align: middle;
}

h1 {
	font-size: 1.3rem;
  font-weight: bold;
  color: $h1-color;
}

h2 {
	font-size: 1.3rem;
  font-weight: bold;
}

.wrapper {
	background-color: #fff;
	max-width: 540px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.container {
	margin: 0 24px;
}

header {
	padding: 23px 0 12px 0;
	margin-bottom: 9px;
	position: relative;
	border-bottom: 1px solid $border-color;

	.header__brand {
		vertical-align: middle;
	}

	.header__hide-arrow {
		position: absolute;
    right: 25px;
    top: 39px;
   }

	h1 {
		position: absolute;
   	top: 25px;
    left: 96px;
	}
}

section.opening-section {
	padding-bottom: 18px;

	h2 {
		color: $h2-color-1;
		margin-bottom: 5px;
	}
}

section.column-blocks {
	border-bottom: 1px solid $border-color;
}

section.closing-section {
	padding-top: 20px;

	h2 {
		color: $h2-color-2;
		margin-bottom: 10px;
	}
}

